@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
/* header tag styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424242);

}
.nav-title{
    font-size: 3rem;
}